<h1> Costs#index </h1>
<button type="button" class="btn btn-primary">
  <%= link_to '新規登録', new_cost_path %>
</button>
<br>
<table　class="table table-bordered">
  <thead>
    <tr>
      <th>支出</th>
      <th>値段</th>
      <th>説明</th>
    </tr>
  </thead>
  <tbody>
    <% @costs.each do |cost| %>
      <tr>
        <td><%= link_to cost.name, cost %></td>
        <td><%= cost.price %>円</td>
        <td><%= cost.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
