<br>
<h1>支出一覧</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
    <a class="nav-link active" href="/costs">支出一覧</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/incomes">収入一覧</a>
  </li>
</ul>
<br>
<a class="btn btn-primary btn-lg btn-block" href="/costs/new" role="button">新規登録</a>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>日付</th>
      <th>支出</th>
      <th>値段</th>
    </tr>
  </thead>
  <tbody>
    <% @costs.order(:date).each do |cost| %>
      <tr>
        <td><%= cost.date.strftime('%Y年%m月%d日') %></td>
        <td><%= link_to cost.name, cost %></td>
        <td><%= cost.price %>円</td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>合計金額</th>
      <th></th>
      <th><%= @costs.sum(:price) %>円</th>
    </tr>
  </tfoot>
</table>
