<br><br>
<h1>支出一覧</h1>
<hr>
<a class="btn btn-primary btn-lg btn-block" href="/costs/new" role="button">新規登録</a>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>支出</th>
      <th>値段</th>
    </tr>
  </thead>
  <tbody>
    <% @costs.each do |cost| %>
      <tr>
        <td><%= link_to cost.name, cost %></td>
        <td><%= cost.price %>円</td>
      </tr>
    <% end %>
  </tbody>
</table>
